<div style="margin: 50px;">
    <form [formGroup]="addEmployeeForm" (ngSubmit)="addUser()">

        <div class="row text-center">
          <div class="col-sm-12">
            <h3 class="wrapper__title">Employee Page</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
    
              <label> Name: </label>
              <input formControlName="name" type="text">
              <small class="text-danger"  
                *ngIf=" addEmployeeForm.get('name')?.errors?.required &&  addEmployeeForm.get('name')?.touched"> Name Is
                Required
              </small>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
    
              <label>Department: </label>
              <select formControlName="departmentId" type="select">
                  
                <option *ngFor="let department of departments; let i = index" [value]="department.id">
                    {{department.name}}
                  </option>
                </select>         <small class="text-danger"  
                      *ngIf=" addEmployeeForm.get('departmentId')?.errors?.required &&  addEmployeeForm.get('departmentId')?.touched"> Department Is Required
                    </small>
          </div>
    
          <div class="col-sm-12 mt-4" style="display: flex; justify-content: space-evenly;">
            <button  color="primary" class="btn btn-primary" type="submit" [disabled]=" addEmployeeForm.invalid"
               >Save</button>
               <button color="primary" class="btn btn-danger" type="button"
               >Cancel</button>
          </div>
        </div>
      </form>
    
</div>
